:root{
	// Cores
	--black: #232536;
	--yellow: #FFD050;
	--purple: #592EA9;
	--darkGray: #4C4C4C;
	--mediumGray: #6D6E76;
	--lightGray: #F4F4F4;
	--lavender: #F4F0F8;
	--lightYellow: #FBF6EA;
	--light: #FFFFFF;

	// Fontes
	--fontInter: 'Inter', sans-serif;
	--fontSen: 'Sen', sans-serif;
}

// Fontes
$black: var(--black);
$yellow: var(--yellow);
$purple: var(--purple);
$darkGray: var(--darkGray);
$mediumGray: var(--mediumGray);
$lightGray: var(--lightGray);
$lavender: var(--lavender);
$lightYellow: var(--lightYellow);
$light: var(--light);

// Fontes
$Inter: var(--fontInter);
$Sen: var(--fontSen);